/*Importación*/
@import "colors";
@import "fonts";
@import "footer";
@import "navbar";

.header__h1{
    font-family: $font-principal;
    text-align: center;
    font-size: 40px;
    background-image: linear-gradient(45deg, $color-secundario, $color-principal);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: 700;
}


.header__h2{
    text-align: center;
    font-family: $font-principal;
    font-size: 30px; 
    background-image: linear-gradient(45deg, $color-secundario, $color-principal);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
    font-weight: 600;        
}


.imagenes__h4{
    display: flex;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-left: 150px;
    background-image: linear-gradient(45deg, $color-secundario, $color-principal);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.imagenes{
    column-gap: 40px;
    display: flex;
    justify-content: center;
}
.imagenes> img{
    display: grid;
    border-radius: 20px;
    margin: 40px;
}
.articulos__h4{
    text-align: end;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-right: 70px;
    background-image: linear-gradient(45deg, $color-principal, $color-secundario);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.small-img{
    column-gap: 40px;
    display: flex;
    justify-content: space-around;
}
.small-img> img{
    display: grid;
    border: black solid 5px;
    margin: 40px;
}

/*Página Tienda*/

.navbar-tienda{
    display: flex;
    padding: 5px;
    margin: 10px auto;
    column-gap: 30px;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.title-maps{
    font-size: 25px;
    margin-left: 15px;
    margin-top: 15px;
    color: $color-principal;
}

.h1__tienda{
    background-image: linear-gradient(45deg, $color-secundario, $color-principal);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-align: center;
    font-family: $font-principal;
    font-weight: 700;
}

.p__tienda{
    background-image: linear-gradient(45deg, $color-secundario, $color-principal);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    font-family: $font-principal;
}

.h1__ofertas{
    background-image: linear-gradient(45deg, $color-secundario, $color-principal);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-align: center;
    font-family: $font-principal;
    font-weight: 700;
}

.p__ofertas{
    background-image: linear-gradient(45deg, $color-secundario, $color-principal);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    font-family: $font-principal;
}

.logo__mizuta-nosotros{
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.header__nosotros-h1{
    background-image: linear-gradient(45deg, $color-secundario, $color-principal);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 50px;
    text-align: center;
    font-weight: 1000;
    font-family: $font-principal;
}

.header__nosotros-p{
    background-image: linear-gradient(45deg, $color-secundario, $color-principal, $color-secundario);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    margin: auto;
    max-width: 700px;
    font-family: $font-principal;
}

.body{
    background-color:  #202324;
}

.container{
    display: flex;
}

.contain{
    display: flex;
    justify-content: center;
}

.formulario{
    color: #0886D9;
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    margin: auto;
    max-width: 100%;
    font-family: $font-principal;
}

.button_contacto{
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 30px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.button_contacto:hover{
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.button_contacto:focus{
    outline: none;
}

.button_contacto{
    background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
    );
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
    padding: 23px 32px;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.right{
    max-width: 100%;
	padding: 25px 40px;
}

.texto{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.texto:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.texto:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}
.row{
    display: flex;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
}


@media screen and (min-width: 540px){
    .imagenes__img1{
        max-width: 100%;
        height: 130px;
    }
    .imagenes__img2{
        max-width: 100%;
        height: 130px;
    }
    .imagenes__img3{
        max-width: 100%;
        height: 130px;
    }
    .articulos__h4{
        text-align: end;
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        margin-right: 30px;
        color: whitesmoke;
    }
    .header__h1{
        font-family: "Montserrat", sans-serif;
        text-align: center;
        color: whitesmoke;
        font-size: 18px;
    }
    .header__h2{
        font-family: "Montserrat", sans-serif;
        text-align: center;
        color: whitesmoke;
        font-size: 15px;
    }
    .header__parrafo{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        color: $color-principal;
        font-size: 15px;
    }
    .imagenes__h4{
        display: flex;
        text-align: start;
        font-size: 13px;
        font-family: 'Montserrat', sans-serif;
        color: $color-principal;
        margin: auto;
    }
    .logo__mizuta-nosotros{
        max-width: 100%;
        height: auto;
    }
    .h1__tienda{
        font-size: 25px;
    }
    .p__tienda{
        font-size: 20px;
    }
    .h1__ofertas{
        font-size: 25px;
    }
    .p__ofertas{
        font-size: 20px;
    }

}
@media screen and (min-width: 760px){
    .imagenes__img1{
        max-width: 100%;
        height: 200px;
    }
    .imagenes__img2{
        max-width: 100%;
        height: 200px;
    }
    .imagenes__img3{
        max-width: 100%;
        height: 200px;
    }
    .articulos__h4{
        text-align: end;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        margin-right: 30px;
        color: whitesmoke;
    }
    .header__h1{
        font-family: "Montserrat", sans-serif;
        text-align: center;
        color: whitesmoke;
        font-size: 25px;
    }
    .header__h2{
        font-family: "Montserrat", sans-serif;
        text-align: center;
        color: whitesmoke;
        font-size: 20px;
    }
    .header__parrafo{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        color: $color-principal;
        font-size: 20px;
    }
    .imagenes__h4{
        display: flex;
        text-align: start;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        color: $color-principal;
    }
    .logo__mizuta-nosotros{
        max-width: 100%;
        height: auto;
    }
    .h1__tienda{
        font-size: 25px;
    }
    .p__tienda{
        font-size: 20px;
    }
    .h1__ofertas{
        font-size: 25px;
    }
    .p__ofertas{
        font-size: 20px;
    }
    .card{
        max-width: 100%;
    }
}

@media screen and (min-width: 1024px){
    .imagenes__img1{
        max-width: 100%;
        height: 300px;
    }
    .imagenes__img2{
        max-width: 100%;
        height: 300px;
    }
    .imagenes__img3{
        max-width: 100%;
        height: 300px;
    }
    .articulos__h4{
        text-align: end;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        margin-right: 30px;
        color: whitesmoke;
        font-weight: 700;
    }
    .header__h1{
        font-family: "Montserrat", sans-serif;
        text-align: center;
        color: whitesmoke;
        font-size: 40px;
    }
    .header__h2{
        font-family: "Montserrat", sans-serif;
        text-align: center;
        color: whitesmoke;
        font-size: 30px;
    }
    .header__parrafo{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        color: $color-principal;
        font-size: 30px;
    }
    .imagenes__h4{
        display: flex;
        text-align: start;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        color: $color-principal;
        margin-left: 150px;
        font-weight: 700;
    }
    .logo__mizuta-nosotros{
        max-width: 100%;
        height: auto;
    }
    .h1__tienda{
        font-size: 40px;
    }
    .p__tienda{
        font-size: 22px;
    }
    .h1__ofertas{
        font-size: 40px;
    }
    .p__ofertas{
        font-size: 22px;
    }
}









.body{
    background-color:  #202324;
}